html {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 2rem;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: #f1c4c4;
    border-radius: 1.2rem;
    padding: 2rem;
    padding-bottom: 3.5rem;
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid #ccc;
}

input[type="text"],
textarea {
    background-color: #fcfcfc;
    color: rgb(0, 0, 0);
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
}

section {

    display: flex;
    flex-direction: row;
    justify-content: space-between;


    background-color: red;
    width: 100%;
}

section>article {

    margin: 2rem;
    padding: 3%;
    border: 1px solid #ccc;
    border-radius: 1.2rem;
    background-color: #f9f9f9;
}

ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style-type: none;
    overflow: hidden;
}

@media (max-width: 768px) {
    section {
        flex-direction: column;
    }

    section>article {
        margin: 1rem;
        padding: 5%;
    }
}