html {
    font-family: "Roboto", sans-serif;
    background-color: rgb(255, 255, 255);
    padding-left: 17rem;
    padding-right: 17rem;
}

::selection {
    background-color: #000000;
    color: #ffffff;
}

a::selection {
    background-color: rgb(104, 146, 255);
    color: #ffffff;

}

h2 {
    font-size: 1.8rem;
    font-weight: 400;

}

h5 {

    font-weight: 300;
    font-size: 1.1rem;
    line-height: 0;
    width: 100%;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
}

.blog-title {
    font-size: 3rem;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.logo>img {
    width: 18rem;
    height: auto;

    margin-right: 1rem;
}

a {
    font-weight: 400;
    color: rgb(104, 146, 255);

}

header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    border-radius: 1.2rem;
    padding: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;


}

.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    height: 1rem;
    width: 20rem;
    border: 2px solid #000000;

}


.searchbar>input {
    border: none;
    border-radius: 0.5rem;
    width: 100%;
    margin-left: 0.5rem;
}

.searchbar>img {
    width: 1.5rem;
    height: 100%;
}

.searchbar>img:hover {
    cursor: pointer;
}


.important-actions>* {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
}

.sidebar_icon {
    width: 2rem;
    height: 100%;
    border-radius: 50%;
}

.sidebar_text {
    margin-left: 4%;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 1.2rem;
}

.date {
    font-size: 1rem;
}

article .blog-title {
    font-size: 2.4rem;
    font-weight: 600;

}

article p {
    font-size: 1.2rem;
    text-align: justify;

}

.reference {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

}

input[type="text"],
textarea {
    color: rgb(0, 0, 0);
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
}

section {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-color: black;

    width: 100%;
}

section>article {

    margin: 0.9rem;
    padding: 4%;



    align-items: flex-start;
    font-size: 1.2rem;

}

ul {
    display: flex;
    flex-direction: column;

    list-style-type: none;
    padding-inline-start: 0;
}

li {
    float: left;

}

@media (max-width: 768px) {
    html {
        padding-left: 0;
        padding-right: 0;
    }

    section {
        flex-direction: column;
    }

    section>article {
        margin: 1rem;
        padding: 5%;
    }

    .logo>img {
        width: 15rem;
        height: auto;
    }

    .searchbar {
        display: none;
    }


}