html {
    font-family: "Roboto", sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
}

::selection {
    background-color: #000000;
    color: #ffffff;

}

h1 {
    font-size: 2rem;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.logo>img {
    width: 18rem;
    height: auto;

    margin-right: 1rem;
}

a {

    color: rgb(104, 146, 255);

}

header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    border-radius: 1.2rem;
    padding: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;


}

.searchbar {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1.2rem;

    height: 2rem;
    width: 20rem;
    border: 2px solid #000000;



}

.searchbar input {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
}

.vertical-divider {
    border-left: 10px solid black;
    height: 100%;
    margin: 0 1rem;
    background-color: black;
}

.important-actions>* {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
}

.sidebar_icon {
    width: 2rem;
    height: 100%;
    border-radius: 50%;
}

.sidebar_text {
    margin-left: 4%;
    margin-bottom: auto;
    margin-top: auto;
}

.date {
    font-size: 1rem;
}

article h1 {
    font-size: 2rem;

}

article p {
    font-size: 1.2rem;
    text-align: justify;

}

.reference {
    display: flex;
    flex-direction: column;

    align-self: flex-start;

}

input[type="text"],
textarea {
    background-color: #fcfcfc;
    color: rgb(0, 0, 0);
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
}

section {

    display: flex;
    flex-direction: row;
    justify-content: space-between;


    border-color: black;

    width: 100%;
}

section>article {

    margin: 0.9rem;
    padding: 4%;



    align-items: flex-start;
    font-size: 1.2rem;

}

ul {
    display: flex;
    flex-direction: column;

    list-style-type: none;
    padding-inline-start: 0;
}

li {
    float: left;
    background-color: white;
}

@media (max-width: 768px) {
    section {
        flex-direction: column;
    }

    section>article {
        margin: 1rem;
        padding: 5%;
    }

    .vertical-divider {
        display: none;
    }

    .logo>img {
        width: 15rem;
        height: auto;
    }

    .searchbar {
        display: none;
    }


}