html {
    font-family: "Roboto", sans-serif;
}

.responsive-three-column-grid {
    display: block;
}

.responsive-three-column-grid>* {
    padding: 1rem;
}

.responsive-three-column-grid>button {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

@media (min-width:768px) {
    .responsive-three-column-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}



main {
    margin: auto;
    margin-top: 10%;
    width: 50%;
    text-align: center;

}

footer {
    margin: auto;
    width: 50%;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    color: white;
    margin: 0 10rem;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

h1 {
    color: #0d0d0d;
    font-size: 3rem;
    font-weight: 300;
    margin-top: 2.5rem;
    font-weight: 900;
}

h2 {
    color: rgb(114, 114, 114);
    font-weight: 500;
}

.sponsor {
    margin-top: 2%;
    width: 100%;
    color: black;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.sponsor>h4 {
    font-size: 1.2rem;
    padding: 1rem;
}


.sponsor>p {
    font-size: 1.2rem;
}