html {
    font-family: "Roboto", sans-serif;
}

.responsive-three-column-grid {
    display: block;
}

.responsive-three-column-grid>* {
    padding: 1rem;
}

.responsive-three-column-grid>button {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    border-radius: 0.5rem;

    border-color: #000000;
    background-color: white;
    border-style: solid;

}

.responsive-three-column-grid>button:hover {
    background-color: #393939;
    color: white;
    transition: 0.2s ease-in-out;
}

@media (min-width:768px) {
    .responsive-three-column-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

main {
    margin: auto;
    margin-top: 10%;
    width: 50%;
    text-align: center;

}

footer {
    margin: auto;
    width: 50%;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-right: 0;
}

.navbar>ul>.logo {
    margin-right: 1rem;
    width: 5%;
    height: 2%;
}

.navbar>.searchbar {
    margin-right: 3rem;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #242424;
    border-radius: 1rem;
}

li {
    float: left;
    color: white;
    margin: 0 7rem;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem 1.2rem;
    text-decoration: none;
    width: 100%;


}

li a:hover {
    background-color: #3c3c3c;
    color: white;
    transition: 0.5s ease-in-out;
    border-radius: 0.5rem;
}

h1 {
    color: #0d0d0d;
    font-size: 3rem;
    font-weight: 300;
    margin-top: 2.5rem;
    font-weight: 900;
}

h2 {
    color: rgb(114, 114, 114);
    font-weight: 500;
}

.sponsor {
    margin-top: 2%;
    width: 100%;
    color: black;
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.sponsor>h4 {
    font-size: 1.2rem;
    padding: 1rem;
}


.sponsor>p {
    font-size: 1.2rem;
}