html {
    font-family: "Roboto", sans-serif;
    margin: 0;
}


.responsive-three-column-grid>button {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    border-radius: 0.5rem;

    border-color: #000000;
    background-color: white;
    border-style: solid;

}

.responsive-three-column-grid>* {
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 50%;
}

.responsive-three-column-grid>button:hover {
    background-color: #181818;
    color: white;
    transition: 0.2s ease-in-out;
}

.navbar-img-searchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-img-searchbar>img {
    width: 20%;
    height: auto;
    padding-bottom: 2rem;
}

.navbar>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0;
    margin-right: 2rem;

}

.navbar-img-searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar-img-searchbar>img {
    padding-bottom: 0;
    width: 10%;
    height: auto;
    margin-right: 2rem;
}

@media (max-width:768px) {
    .responsive-three-column-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .responsive-three-column-grid>* {
        padding: 1rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        width: 100%;
    }


    .navbar>ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-inline-start: 0;
        margin-right: 2rem;

    }

    .navbar-img-searchbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar-img-searchbar>img {
        width: 25%;
        height: auto;
        padding-bottom: 2rem;
    }
}

main {
    margin: auto;
    margin-top: 10%;
    width: 50%;
    text-align: center;

}

footer {
    margin: auto;
    width: 50%;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-right: 0;
}

.navbar>.logo {
    margin-right: 2rem;
    width: 5%;
    height: 2%;

}


.navbar>.searchbar {
    margin-right: 3rem;

}

input[type="text"],
textarea {
    background-color: #3f3f3f;
    ;
    color: white;
    border: none;
    padding: 0.4rem;
    border-radius: 0.5rem;
}

nav {
    background-color: #181818;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #181818;
    border-radius: 1rem;
}

li {
    float: left;
    color: white;
    margin: 0 7rem;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem 1.2rem;
    text-decoration: none;
    width: 100%;


}

li a:hover {
    background-color: #3c3c3c;
    color: white;
    transition: 0.5s ease-in-out;
    border-radius: 0.5rem;
}

h1 {
    color: #0d0d0d;
    font-size: 3rem;
    font-weight: 300;
    margin-top: 2.5rem;
    font-weight: 900;
}

h2 {
    color: rgb(114, 114, 114);
    font-weight: 500;
}

.sponsor {
    margin-top: 2%;
    width: 100%;
    color: black;
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.sponsor>h4 {
    font-size: 1.2rem;
    padding: 1rem;
}


.sponsor>p {
    font-size: 1.2rem;
}